logging:
  level: INFO
  loggers:
    org.leanlang.radar: DEBUG

jerseyClient:
  gzipEnabledForRequests: false
  timeout: 5s

adminToken: admintoken

server:
  applicationConnectors:
    - type: http
      port: 8080
  adminConnectors:
    - type: http
      port: 8081

  # Disable request logs
  # https://www.dropwizard.io/en/stable/manual/configuration.html#request-log
  requestLog:
    appenders: [ ]

url: https://example.com/

repos:
  - name: radar-test-dummy
    description: Dummy test data
    url: https://github.com/Garmelon/radar-test-dummy
    ref: master
    benchUrl: https://github.com/Garmelon/radar-bench-loc
    benchRef: master
    benchRuns:
      - name: main
        script: main.py
        runner: testrunner
    metrics:
      - direction: -1
        minorAppear: true
        minorDisappear: true
        minorDeltaAmount: 5
        majorDeltaAmount: 10
        minorDeltaFactor: 0.1
        majorDeltaFactor: 0.2
    significantMajorMetrics: 1
    significantMinorMetrics: 5
    github:
      blockingLabels:
        - duplicate
        - question
        - invalid

  - name: radar
    description: Do you know how fast you were going?
    url: https://github.com/leanprover/radar
    ref: master
    benchUrl: https://github.com/Garmelon/radar-bench-loc
    benchRef: master
    benchRuns:
      - name: main
        script: main.py
        runner: testrunner

  - name: lean4
    description: The Lean 4 programming language and theorem prover
    url: https://github.com/leanprover/lean4
    ref: master
    lakeprofReportUrl: https://speed.lean-lang.org/lean4-out/
    benchUrl: https://github.com/Garmelon/radar-bench-loc
    benchRef: master
    benchRuns:
      - name: main
        script: main.py
        runner: testrunner
    metrics:
      - direction: -1
        majorAppear: true
        majorDisappear: true
      - match: //time$
        minorDeltaFactor: 0.3
        majorDeltaFactor: 0.6
      - match: //loc$
        minorDeltaAmount: 200
        majorDeltaAmount: 500
    zulip:
      feedChannel: test
      feedTopic: Significant commits to lean4

  - name: mathlib4
    url: https://github.com/leanprover-community/mathlib4
    ref: master
    description: The math library of Lean 4
    benchUrl: https://github.com/Garmelon/radar-bench-loc
    benchRef: master
    benchRuns:
      - name: main
        script: main.py
        runner: testrunner

  - name: mathlib4-nightly-testing
    url: https://github.com/leanprover-community/mathlib4-nightly-testing
    ref: refs/tags/nightly-testing-\d{4}-\d{2}-\d{2}
    refRegex: true
    refParentsNone: true
    description: The nightly testing fork of mathlib4
    benchUrl: https://github.com/Garmelon/radar-bench-loc
    benchRef: master
    benchRuns:
      - name: main
        script: main.py
        runner: testrunner

runners:
  - name: testrunner
    token: testrunnertoken
