@import "tailwindcss";

@theme {
  --color-background: var(--c-background);
  --color-background-alt: var(--c-background-alt);
  --color-foreground-alt: var(--c-foreground-alt);
  --color-foreground: var(--c-foreground);

  --color-red: var(--c-red);
  --color-green: var(--c-green);
  --color-yellow: var(--c-yellow);
  --color-blue: var(--c-blue);
  --color-purple: var(--c-purple);
  --color-cyan: var(--c-cyan);
}

:root {
  --c-background: #fff;
  --c-background-alt: #ccc;
  --c-foreground-alt: #555;
  --c-foreground: #000;

  --c-red: #db2d20;
  --c-green: #01a252;
  --c-yellow: #fded02;
  --c-blue: #01a0e4;
  --c-purple: #a16a94;
  --c-cyan: #b5e3f3;
}

.dark {
  --c-background: #000;
  --c-background-alt: #333;
  --c-foreground-alt: #aaa;
  --c-foreground: #fff;
}

@layer base {
  body {
    @apply text-foreground bg-background font-mono text-sm break-words;
  }
  * {
    @apply focus:outline-none;
  }
}
