@import "tailwindcss";

@theme {
  --color-background: var(--c-background);
  --color-background-alt: var(--c-background-alt);
  --color-foreground-alt: var(--c-foreground-alt);
  --color-foreground: var(--c-foreground);

  --color-red: var(--c-red);
  --color-green: var(--c-green);
  --color-yellow: var(--c-yellow);
  --color-blue: var(--c-blue);
  --color-magenta: var(--c-magenta);
  --color-cyan: var(--c-cyan);
}

:root {
  --c-background: #fff;
  --c-background-alt: #ccc;
  --c-foreground-alt: #555;
  --c-foreground: #000;

  --c-red: #c01c28;
  --c-green: #2ec27e;
  --c-yellow: #d0a100;
  --c-blue: #1e78e4;
  --c-magenta: #9841bb;
  --c-cyan: #0ab9dc;
}

.dark {
  --c-background: #000;
  --c-background-alt: #333;
  --c-foreground-alt: #aaa;
  --c-foreground: #fff;

  --c-red: #c01c28;
  --c-green: #2ec27e;
  --c-yellow: #f5c211;
  --c-blue: #1e78e4;
  --c-magenta: #9841bb;
  --c-cyan: #0ab9dc;
}

@layer base {
  body {
    @apply text-foreground bg-background font-mono text-sm break-words;
  }
  * {
    @apply focus:outline-none;
  }
}
